RewriteEngine On

# API
RewriteCond %{REQUEST_URI} ^/api
RewriteRule ^api/?(.*)$ /api/index.php [QSA,L]

# Front web
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
